p,
h1 {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 200;
  font-size: 17px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-content: space-between;
  padding: 10px;
  padding-left: 40px;
  background-color: rgb(57, 0, 111);
  margin-bottom: 50px;
  color: RGB(255, 255, 255);
}
.header-icons {
  display: flex;
  align-content: space-between;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
#map-holder {
  display: flex;
  width: 600px;
  height: 500px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 3px solid black;
  box-sizing: border-box;
  padding: 25px;
  height: 500px;
  width: 600px;
  margin-right: 60px;
}
#details-holder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer {
  height: 60px;
  margin-top: 50px;
  background-color: rgb(57, 0, 111);
  color: RGB(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-left: 25px;
}
.footer-icons {
  font-size: 25px;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  /* align-self: flex-end; */
}
.footer a {
  color: RGB(255, 255, 255);
}

#details_ID h1 {
  margin-bottom: 10px;
}

#map-holder p {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid RGB(117, 107, 177);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

#dates-chart {
  width: 95%;
  height: 95%;
}
